@model IEnumerable<LeelosBookstoreAndLibrary.Models.Borrow>

@{
    ViewBag.Title = "ViewBorrowedBooks";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}


@Html.Partial("_BorrowedBooks", Model)