@model IEnumerable<LeelosBookstoreAndLibrary.Models.Book>

@{
    ViewBag.Title = "Books";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/Scripts/datatables.js"></script>
<link href="~/Scripts/datatables.css" rel="stylesheet" />
<h2>Home Page</h2>

<table class="display" style="width:100%" id="zisTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Harry Potter</td>
            <td>J.K. Rowling</td>
        </tr>
        <tr>
            <td>Young Elites</td>
            <td>Marie Lu</td>
        </tr>
    </tbody>
</table>


<script>
    $(document).ready(function() {
        $('#zisTable').DataTable();
    });
</script>
